.review-page-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.review-page-box {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 1550px;
    /* height: 100vh; */
}

.review-page-header {
    text-align: center;
    margin-top: 50px;
}

.review-page-tap {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
    margin-right: 100px;
}

.review-page-filter > span {
    margin-left: 15px;
}

.review-page-card-box {
    /* background-color: white; */
    border-radius: 10px;
    width: 85%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 1rem;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.review-page-create-btn {
    width: 200px;
    margin-left: 90px;
}

.click-sort {
    font-weight: bold;
}

@media screen and (max-width: 430px){
    .review-page-box {
        width: 100%;
    }

    .review-page-tap {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        margin-right: 1rem;
    }

    .review-page-create-btn {
        width: 40%;
        margin-left: 1.5rem;
    }

    .review-page-filter {
        width: 215px;
        
    }

    .review-page-card-box {
        /* background-color: white; */
        border-radius: 10px;
        width: 85%;
        height: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}