.review-page-container {
    background-color: pink;
    width: 100%;
    /* height: 1000px; */
    display: flex;
    justify-content: center;
}

.review-page-box {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 1500px;
    /* height: 100vh; */
}

.review-page-header {
    text-align: center;
    margin-top: 50px;
}

.review-page-tap {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
    margin-right: 100px;
}

.review-page-filter > span {
    margin-left: 15px;
}

.review-page-card-box {
    background-color: white;
    border-radius: 10px;
    width: 75%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.review-page-create-btn {
    width: 200px;
    margin-left: 90px;
}