
.review-create-container {
    width: 100%;
    /* height: 100vh; */
    /* background-color: black; */
    /* overflow: auto; */
    display: inline-block;
}


.review-create-map {
    display: flex;
    height: 50vh;
}

.review-create-tag {
    margin-top: 50px;
}

.food-type {
    margin: 20px 10px;
}

.food-type-btn {
    min-width: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.click-btn {
    background-color: #E0475B;
    border: #E0475B;
    color: white;
}

.review-create-textarea{
    min-height: 360px;
}

.review-create-btn-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    /* margin-top: 70px; */
}

.review-create-btn-box > button {
    background-color: #E0475B;
    border: #E0475B;
    min-width: 100px;
    margin-left: 20px;
    font-weight: bold;

}

.direct-input {
    margin-top: 100px;
    display: flex;
}

.direct-input > button{
    margin-bottom: 15px;
    width: 250px
}

.mb-3 {
    margin-left: 10px;
    width: 100%
}

.review-create-img-list {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding-right: 10px;
}

.review-create-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* max-width: 430px; */
    height: 40px;
    margin: 10px;
}

.img-delete-btn {
    margin-right: 15px;
}

.spinner-box{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity : 0.5;
    position: absolute;
    z-index: 100;
}

.spinner-div {
    position: absolute;
    opacity : 1.0;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 430px){
    .review-create-map {
        display: flex;
        flex-direction: column;
        height: 800px;
    }

    .direct-input {
        margin-top: 30px;
        flex-direction: column;
    }
    .direct-input > button{
        margin-bottom: 15px;
        width: 100%;
    }
    
    .food-type-btn {
        min-width: 100px;
        margin-right: 5px;
        margin-bottom: 15px;
        font-weight: bold;
    }

    .review-create-btn-box {
        display: flex;
        justify-content: center;
        width: 100%;
        
    }

    .review-create-btn-box > button {
        background-color: #E0475B;
        border: #E0475B;
        min-width: 120px;
        margin-right: 20px;
        font-weight: bold;
    
    }
}

@media screen and (max-width: 390px) {
    .food-type-btn {
        min-width: 80px;
        margin-right: 5px;
        margin-bottom: 15px;
        font-weight: bold;
    }
}

