.user-edit-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.user-edit-box {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.user-edit-box > input {
    height: 5%;
    margin-bottom: 1rem;
    border: 1px solid gray;
    border-radius: 0.8rem;
    padding: 0.8rem;
    padding-bottom: 0.85rem;
}

.user-edit-button {
    height: 6%;
    margin-top: 0.5rem;
    border: 1px solid gray;
    border-radius: 0.8rem;
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
}
.user-delete-button {
    height: 6%;
    margin-top: 0.5rem;
    border: 1px solid gray;
    border-radius: 0.8rem;
    background-color: red;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 430px) {
    .user-edit-box {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        width: 300px;
    }
}